<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<!-- login-pop-up -->
<script src="js/menu_jquery.js"></script>
<!-- //login-pop-up -->
<!-- animation-effect -->
<!-- <link href="css/animate.min.css" rel="stylesheet"> -->
<script src="js/wow.min.js"></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->
<link href='#css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='#css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
</head>

<body>
<!-- header -->
	<div class="header-nav">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="register">Register</a></li>
						<li><a href="login">Login</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</nav>
		</div>
	</div>
<!-- //header -->
<!-- banner -->
	<div class="banner">
		<div class="banner-pos banner1">
			<div class="container">
				<div class="banner-info animated wow slideInUp" data-wow-delay=".5s">
					<h2>Welcome To T&J</h2>
					<h3>Airplane Booking Website</h3>
				</div>
			</div>
			<div class="banner-posit animated wow zoomIn" data-wow-delay=".5s">
				<form action="/SearchFlightAuth" method="POST">
				<h2><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>Search A Flight</h2>
				<div class="reservation">
					<h5>Date</h5>
					<div class="book_date">
							<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
							<input class="date" name = "date" id="datepicker" type="text" value="20/11/2020" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '19/10/2016';}" required="">
					</div>
					 <h5>From</h5>
					 <div class="section_room">
								<div class="input-group animated wow slideInUp">
									<span class="input-group-addon" id="basic-addon1"></span>
									<input type="text" class="form-control" name = "depature" placeholder="Your Depature" aria-describedby="basic-addon1">
								</div>
					 </div>
					 <h5>To</h5>
					 <div class="section_room">
								<div class="input-group animated wow slideInUp">
									<span class="input-group-addon" id="basic-addon1"></span>
									<input type="text" class="form-control" name = "arrival" placeholder="Your Arrival" aria-describedby="basic-addon1">
								</div>
					 </div>
					 <h5>Flight Number</h5>
					 <div class="section_room">
								<div class="input-group animated wow slideInUp">
									<span class="input-group-addon" id="basic-addon1"></span>
									<input type="text" class="form-control" name = "flight number" placeholder="Flight Number" aria-describedby="basic-addon1">
								</div>
					 </div>
						<div class="book">
							<input type="submit" value="Search">
						</div>
						<!-- 不一定用 -->
						<div class="col-lg-6 in-gp-tb">
							<div class="input-group">
								<span class="input-group-btn">
									<input class="btn btn-default" type="submit" value = Search />
								</span>
							</div><!-- /input-group -->
						</div><!-- /.col-lg-6 -->
						<!-- 不一定用 -->
				</div>
			</form>
			</div>
		</div>
	</div>

							<!---strat-date-piker---->
									<link rel="stylesheet" href="css/jquery-ui.css" />
									<script src="js/jquery-ui.js"></script>
									  <script>
											  $(function() {
												$( "#datepicker,#datepicker1" ).datepicker();
											  });
									  </script>
								<!---/End-date-piker---->

<!-- //banner -->
<!-- footer -->
	<div class="footer-copy">
		<div class="container">
			<div class="footer-left animated wow slideInUp" data-wow-delay=".5s">
				<p>Copyright Tianyu Zhang & Jennie Shen.</p>
			</div>
		</div>
	</div>
<!-- //footer -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>
</html>
