<!DOCTYPE html>
<!-- default怎么设置 -->
<html>
<head>
<title>StaffCreateNewFlights</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<!-- login-pop-up -->
<script src="js/menu_jquery.js"></script>
<!-- //login-pop-up -->
<!-- animation-effect -->
<link href="css/animate.min.css" rel="stylesheet">
<script src="js/wow.min.js"></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->
<link href='#css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='#css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- header -->
<div class="header-top">
	<div class="container">
		<div class="header-top-right">
			<!-- login for customer -->
			<ul class="nav navbar-nav">
				<li><a href="/AirlineStaffLogout">Logout</a></li>
			<!-- login for customer -->
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
	<div class="header-nav">
		<!-- personal page tab -->
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/StaffViewMyFlights">View My flights</a></li>
						<li class="active"><a href="/StaffCreateNewFlights">Create New Flights</a></li>
						<li><a href="/StaffChangeStatusofFlights">Change Status of Flights</a></li>
						<li><a href="/StaffAddAirplane">Add Airplane</a></li>
						<li><a href="/StaffAddNewAirport">Add Airport</a></li>
						<li><a href="/StaffViewBookingAgent">View Booking Agent</a></li>
						<li><a href="/StaffViewFrequentCustomers">View Frequent Customers</a></li>
						<li><a href="/StaffReports">View Reports</a></li>
						<li><a href="/StaffComparisonOfRevenueEarned">Comparison Of Revenue Earned</a></li>
						<li><a href="/StaffViewTopDestinations">Top Destinations</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
<!-- //header -->
<!--typography-page -->
	<div class="typo">
		<div class="container">
			<h3 class="title animated wow zoomIn">Create New Flights</h3>
			<!-- for-specify a range of dates -->
				<form action="/StaffCreateNewFlights" method="POST">
					<h5>Flight Number</h5>
					<input type="int" class="form-control" name = "flight_num" placeholder="Flight Number" aria-describedby="basic-addon1" required/></br>
					<h5>Departure airport</h5>
					<input type="text" class="form-control" name = "DepatureAirport" placeholder="Depature airport" aria-describedby="basic-addon1" required/></br>
					<h5>Departure time</h5>
					<input type="datetime" class="form-control" name = "DepatureTime" placeholder="Depature time" aria-describedby="basic-addon1" required/></br>
					<h5>Arrival airport</h5>
					<input type="text" class="form-control" name = "ArrivalAirport" placeholder="Arrival airport" aria-describedby="basic-addon1" required/></br>
					<h5>Arrival time</h5>
					<input type="datetime" class="form-control" name = "ArrivalTime" placeholder="Arrival time" aria-describedby="basic-addon1" required/></br>
					<h5>Ticket price</h5>
					<input type="int" class="form-control" name = "TicketPrice" placeholder="Ticket price" aria-describedby="basic-addon1" required/></br>
					<h5>Flight status</h5>
					<select name = "FlightStatus">
						<option value ="Upcoming">Upcoming</option>
						<option value ="In Progress">InProgress</option>
						<option value ="Delayed">Delayed</option>
					</select>
					<h5>Airplane ID</h5>
					<input type="int" class="form-control" name = "airplane_id" placeholder="Airplane ID" aria-describedby="basic-addon1" required/></br>
					<div class="book">
						<input type="submit" value="Create">
					</div>
				</form>
			<!-- end-for-specify a range of dates -->
			<!-- for-tables -->
			<div class="grid_3 grid_5 animated wow slideInUp">
				<div class="bs-docs-example animated wow slideInUp" data-wow-delay=".5s">
					<table class="table">
						<thead>
							<tr>
								<th>Airline name</th>
								<th>Flight number</th>
								<th>Departure airport</th>
								<th>Departure time</th>
								<th>Arrival airport</th>
								<th>Arrival time</th>
								<th>Ticket price</th>
								<th>Flight status</th>
								<th>airplane_id</th>
							</tr>
						</thead>
						<tbody>
							{% for row in rows %}
							<tr>
							<td>{{row[0]}}</td>
							<td>{{row[1]}}</td>
							<td>{{row[2]}}</td>
							<td>{{row[3]}}</td>
							<td>{{row[4]}}</td>
							<td>{{row[5]}}</td>
							<td>{{row[6]}}</td>
							<td>{{row[7]}}</td>
							<td>{{row[8]}}</td>

						</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	{% if message %}
	<script>
		alert("Successfully Added.");
	</script>
	{% endif %}
	{% if error %}
	<script>
		alert("Fail to Add!");
	</script>
	{% endif %}
<!-- //typography-page -->
<!-- footer -->
<div class="footer-copy">
	<div class="container">
		<div class="footer-left animated wow slideInUp">
			<p>Copyright Tianyu Zhang & Jennie Shen.</p>
		</div>
	</div>
</div>
<!-- //footer -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>

</html>
